body{
    background-color: #fff6dd;
    
}

.page {
    width: 1000px;
    background-color: #fffaec;
    margin: auto;
    padding-left: 50px;
    padding-right:50px;
    padding-top: 35px;
    padding-bottom: 35px;
}

#title{
	text-align: center;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: large;
}

#maptitle{
	text-align: center;
    font-family: "Helvetica";
}

#text1{
    font-family: "Helvetica";
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
    color: #a9a9a9;
}

#text2{
    font-family: "Helvetica";
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
    color: #a9a9a9;
}

#text3{
    font-family: "Helvetica";
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
    color: #a9a9a9;
}

#map{
    font-family: "Helvetica";
    background-color: #fffaec;
    text-align: center;
    margin-bottom: 20px;
}

#top5title{
	text-align: center;
    font-family: "Helvetica";
}

#top5countries{
    text-align: center;
    margin-bottom: 100px;
}

#happiness{
    text-align: center;
    margin-bottom: 100px;
}

#social{
    text-align: center;
    margin-bottom: 100px;
}

#health{
    text-align: center;
    margin-bottom: 100px;
}

#freedom{
    text-align: center;
    margin-bottom: 100px;
}

#corruption{
    text-align: center;
    margin-bottom: 100px;
}

#generosity{
    text-align: center;
    margin-bottom: 100px;
}